<!DOCTYPE HTML>
<html>
<head>
    <title>Fred Hutch AWS Batch Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">



</head>
<body>


<h2>Queues</h2>

    <table id="queue_summary_table" class="display">
      <thead>
        <tr>
          <th>Name</th>
          <th>Priority</th>
          <th>SUBMITTED</th>
          <th>PENDING</th>
          <th>RUNNABLE</th>
          <th>STARTING</th>
          <th>RUNNING</th>
          <th>FAILED</th>
          <th>SUCCEEDED</th>
        </tr>
    </thead>
    <tbody>
    {% for row in queue_summary_table %}
      <tr>
        {% for item in row %}
          <td>{{ item }} </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
    </table>


<h2>Compute Environments</h2>

<table id="comp_env_table" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Minimum vCPUs</th>
      <th>Desired vCPUs</th>
      <th>Maximum vCPUs</th>
    </tr>
  </thead>
  <tbody>
    {% for row in env_table %}
      <tr>
        {% for item in row %}
          <td>{{ item }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>



<h2>Jobs</h2>

<table id="job_table" class="display">
  <thead>
    <tr>
      <th>Queue</th>
      <th>Job ID</th>
      <th>Job Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for row in job_table %}
      <tr>
        {% for item in row %}
          <td>{{ item }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

    <h1>Flask-SocketIO Test</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <form id="join" method="POST" action='#'>
        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
        <input type="submit" value="Join Room">
    </form>
    <form id="leave" method="POST" action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
        <input type="submit" value="Leave Room">
    </form>
    <form id="send_room" method="POST" action='#'>
        <input type="text" name="room_name" id="room_name" placeholder="Room Name">
        <input type="text" name="room_data" id="room_data" placeholder="Message">
        <input type="submit" value="Send to Room">
    </form>
    <form id="close" method="POST" action="#">
        <input type="text" name="close_room" id="close_room" placeholder="Room Name">
        <input type="submit" value="Close Room">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>

    <script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/js/batch-dashboard.js"></script>



</body>
</html>
