<!DOCTYPE HTML>
<html>
<head>
    <title>Fred Hutch AWS Batch Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- optional theme: -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <style>
    .paddingBetweenCols td, th
    {
      padding:0 15px 0 15px;
    }

    .breakMe
    {
        word-break: break-all;
    }
    </style>

</head>
<body>

{# modals #}

{# queue modal #}
<div class="modal fade" id="queue_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dialog_queue_header">Queue queueName</h4>
      </div>
      <div class="modal-body">
        <h3>Overview</h3>

        <table border="0" class="paddingBetweenCols">
          <tr>
            <td align="right"><b>Queue name: </b></td>
            <td align="left" id="dialog_queue_name"></td>
          </tr>
          <tr>
            <td align="right"><b>Queue state: </b></td>
            <td align="left" id="dialog_queue_state"></td>
          </tr>
          <tr>
            <td align="right"><b>Priority: </b></td>
            <td align="left" id="dialog_queue_priority"></td>
          </tr>
        </table>

        <h3>Compute Environments</h3>

        <table id="dialog_queue_env_table" class="paddingBetweenCols">
          <tr>
            <th>Order</th>
            <th>Compute environment</th>
          </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" id="dialog_queue_close" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{# compute environment modal #}
<div class="modal fade" id="env_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          {#  FIXME this does not close #}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dialog_env_header">Compute environment details</h4>
      </div>
      <div class="modal-body">
        <h3>Overview</h3>

        <table border="0" class="paddingBetweenCols">
          <tr>
            <td align="right"><b>Compute environment name:</b></td>
            <td align="left" id="dialog_env_name"></td>
          </tr>
          <tr>
            <td align="right"><b>Compute environment ARN:</b></td>
            <td align="left" id="dialog_env_arn"></td>
          </tr>
          <tr>
            <td align="right"><b>Type:</b></td>
            <td align="left" id="dialog_env_type"></td>
          </tr>
          <tr>
            <td align="right"><b>Status:</b></td>
            <td align="left" id="dialog_env_status"></td>
          </tr>
          <tr>
            <td align="right"><b>State:</b></td>
            <td align="left" id="dialog_env_state"></td>
          </tr>
          <tr>
            <td align="right"><b>Service role:</b></td>
            <td align="left" id="dialog_env_service_role"></td>
          </tr>
        </table>

        <h2>Compute Resources</h2>

        <table border="0" class="paddingBetweenCols">
          <tr>
            <td align="right"><b>Minimum vCPUs:</b></td>
            <td align="left" id="dialog_env_minvcpus"></td>
          </tr>
          <tr>
            <td align="right"><b>Desired vCPUs:</b></td>
            <td align="left" id="dialog_env_desiredvcpus"></td>
          </tr>
          <tr>
            <td align="right"><b>Maximum vCPUs:</b></td>
            <td align="left" id="dialog_env_maxvcpus"></td>
          </tr>
          <tr>
            <td align="right"><b>Instance types:</b></td>
            <td align="left" id="dialog_env_instance_types"></td>
          </tr>
          <tr>
            <td align="right"><b>Instance role:</b></td>
            <td align="left" id="dialog_env_instancerole"></td>
          </tr>
          <tr>
            <td align="right"><b>Spot fleet role:</b></td>
            <td align="left" id="dialog_env_spotfleetrole"></td>
          </tr>
          <tr>
            <td align="right"><b>EC2 Keypair:</b></td>
            <td align="left" id="dialog_env_keypair"></td>
          </tr>
          <tr>
            <td align="right"><b>AMI id:</b></td>
            <td align="left" id="dialog_env_amiid"></td>
          </tr>
          <tr>
            <td align="right"><b>vpcId:</b></td>
            <td align="left" id="dialog_env_vpcid"></td>
          </tr>
          <tr>
            <td align="right"><b>Subnets:</b></td>
            <td align="left" id="dialog_env_subnets"></td>
          </tr>
          <tr>
            <td align="right"><b>Security Groups:</b></td>
            <td align="left" id="dialog_env_securitygroups"></td>
          </tr>

        </table>





        <h3>EC2 Tags</h3>

        <table id="dialog_env_tag_table" class="paddingBetweenCols">
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" id="dialog_env_close" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{# job modal #}
<div class="modal fade" id="job_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          {#  FIXME this does not close #}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dialog_env_header">Job details</h4>
      </div>
      <div class="modal-body">
        <h3>Job Status</h3>

        <table border="0" class="paddingBetweenCols">
          <tr>
            <td align="right"><b>Status:</b></td>
            <td align="left" id="dialog_job_status"></td>
          </tr>
          <tr>
            <td align="right"><b>Created at:</b></td>
            <td align="left" id="dialog_job_createdat"></td>
          </tr>
          <tr>
            <td align="right"><b>Started at:</b></td>
            <td align="left" id="dialog_job_startedat"></td>
          </tr>
          <tr>
            <td align="right"><b>Queue:</b></td>
            <td align="left" id="dialog_job_queue"></td>
          </tr>
        </table>

        <h2>Job Attributes</h2>

        <table border="0" class="paddingBetweenCols">
          <tr>
            <td align="right"><b>Job id:</b></td>
            <td align="left" id="dialog_job_id"></td>
          </tr>
          <tr>
            <td align="right"><b>Job name:</b></td>
            <td align="left" id="dialog_job_name"></td>
          </tr>
          <tr>
            <td align="right"><b>Job Definition:</b></td>
            <td align="left" id="dialog_job_jobdef"></td>
          </tr>
          <tr>
            <td align="right"><b>Depends on:</b></td>
            <td align="left" id="dialog_job_dependson"></td>
          </tr>

        </table>


<h2>Attempts</h2>

<table id="dialog_job_attempts" class="paddingBetweenCols">
  <thead>
    <tr>
      <th>Attempts</th>
      <th>Exit code</th>
      <th>Start time</th>
      <th>End time</th>
  </thead>

  <tbody>

  </tbody>
</table>

<h2>Resource requirements</h2>

<table border="0" class="paddingBetweenCols">
  <tr>
    <td align="right"><b>Job role:</b></td>
    <td align="left" id="dialog_job_role"></td>
  </tr>
  <tr>
    <td align="right"><b>Container image:</b></td>
    <td align="left" id="dialog_job_containerimage"></td>
  </tr>
</table>



<h2>Environment</h2>

<table border="0" class="paddingBetweenCols">
  <tr>
    <td align="right"><b>Command:</b></td>
    <td align="left" class="breakMe" id="dialog_job_command"></td>
  </tr>
  <tr>
    <td align="right"><b>vCPUs:</b></td>
    <td align="left" id="dialog_job_vcpus"></td>
  </tr>
  <tr>
    <td align="right"><b>Memory:</b></td>
    <td align="left" id="dialog_job_memory"></td>
  </tr>

</table>

<h2>Environment variables</h2>

<table border="0" class="paddingBetweenCols" id="dialog_job_envvars">
{#
  <tr>
    <td align="right"><b></b></td> ## key
    <td align="left"></td> ## value
  </tr>
#}
</table>


<h2>Parameters</h2>

<table border="0" class="paddingBetweenCols" id="dialog_job_parameters">
{#
  <tr>
    <td align="right"><b></b></td> ## key
    <td align="left"></td> ## value
  </tr>
#}
</table>

<h2>uLimits</h2>

<table id="dialog_job_ulimits" class="paddingBetweenCols">
  <thead>
    <tr>
      <th>Name</th>
      <th>Soft limit</th>
      <th>Hard limit</th>
  </thead>

  <tbody>

  </tbody>
</table>


<h2>Volumes</h2>

<table id="dialog_job_volumes" class="paddingBetweenCols">
  <thead>
    <tr>
      <th>Name</th>
      <th>Source path</th>
  </thead>

  <tbody>

  </tbody>
</table>

<h2>Mount points</h2>

<p><b id="dialog_job_filesystemstatus">{# Read only filesystem #}</b></p>

<table id="dialog_job_mountpoints" class="paddingBetweenCols">
  <thead>
    <tr>
      <th>Container path</th>
      <th>Source volume</th>
      <th>Read only</th>
  </thead>

  <tbody>

  </tbody>
</table>




      </div>
      <div class="modal-footer">
        <button type="button" id="dialog_env_close" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{# end modals #}


  <h1>AWS Batch Dashboard</h1>

<ul>
  <li><a href="#queues_heeader">Queues</a></li>
  <li><a href="#compute_environments_header">Compute Environments</a></li>
  <li><a href="#jobs_header">Jobs</a></li>
  <li><a href="#job_def_header">Job Definitions</a></li>
</ul>

<!-- default value for display is 'inline' -->
<button id="myButton" style="display: none;">pressme</button>

  <div id="message" style="z-index: 9999; position : fixed; top: 0; right: 20%; padding: 5px 0 0 5px; height: 140px; width: 300px;">
      <div id="inner-message" style="display: none;" class="alert alert-info">
      </div>
  </div>


<h2 id="queues_header">Queues</h2>

    <table id="queue_summary_table" class="display">
      <thead>
        <tr>
          <th>Name</th>
          <th>Priority</th>
          <th>SUBMITTED</th>
          <th>PENDING</th>
          <th>RUNNABLE</th>
          <th>STARTING</th>
          <th>RUNNING</th>
          <th>FAILED</th>
          <th>SUCCEEDED</th>
        </tr>
    </thead>
    <tbody>
    {% for row in queue_summary_table %}
      <tr class="queue_row">
        {% for item in row %}
          <td>
            {% if loop.index == 1 %}
              <a id="{{item}}" class="queue" href="#">
            {% elif  loop.index > 2 %}
              <a class="queue_jobs_by_status" id="{{row[0]}}_{{states[loop.index-3]}}" href="#">
            {% endif %}
            {{ item }}
            {% if loop.index == 1 %}
              </a>
            {% elif loop.index > 2 %}
              </a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
    </table>


<h2 id="compute_environments_header">Compute Environments</h2>

<table id="comp_env_table" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Minimum vCPUs</th>
      <th>Desired vCPUs</th>
      <th>Maximum vCPUs</th>
    </tr>
  </thead>
  <tbody>
    {% for row in env_table %}
      <tr class="env_row">
        {% for item in row %}
          <td>
            {% if loop.index == 1 %}
              <a id="{{item}}" class="compute_environment" href="#">
            {% endif %}
            {{ item }}
            {% if loop.index == 1 %}
              </a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>



<h2 id="jobs_header">Jobs</h2>

<table id="job_table" class="display">
  <thead>
    <tr>
      <th>Queue</th>
      <th>Job ID</th>
      <th>Job Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for row in job_table %}
      <tr class="job_row" id="row_{{row[1]}}">
        {% for item in row %}
          <td>
            {% if loop.index == 2 %}
              <a id="{{item}}" class="job_id" href="#">
            {% endif %}
            {{ item }}
            {% if loop.index == 2 %}
              </a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2 id="job_def_header">Job Definitions</h2>


<table id="job_def_table" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Revision</th>
      <th>vCPUs</th>
      <th>Memory</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    {% for row in job_def_table %}
      <tr>
        {% for item in row %}
          <td>
            {% if loop.index == 2 %}
              <a class="jobdef" id="{{row[0]}}:{{item}}" href="#">{{item}}</a>
            {% else %}
              {{item}}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>



    <div id="log" style="display: none;"></div>

<p>&nbsp;</p>

<p>
  <a target="_blank" href="https://fredhutch.github.io/aws-batch-at-hutch-docs/">[Documentation for AWS Batch at Fred Hutch]</a> |
  <a target="_blank" href="https://github.com/FredHutch/batch-dashboard">[Code/Report an Issue]</a>
</p>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- FIXME eventually remove the timestamp bit from here: -->
    <script type="text/javascript" charset="utf8" src="/js/batch-dashboard.js?timestamp={{timestamp}}"></script>



</body>
</html>
