<!DOCTYPE HTML>
<html>
<head>
    <title>Fred Hutch AWS Batch Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- optional theme: -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <style>
    .paddingBetweenCols td, th
    {
      padding:0 15px 0 15px;
    }
    </style>

</head>
<body>

{# modals #}

{# queue modal #}
<div class="modal fade" id="queue_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dialog_queue_header">Queue queueName</h4>
      </div>
      <div class="modal-body">
        <h3>Overview</h3>

        <table border="0" class="paddingBetweenCols">
          <tr>
            <td align="right"><b>Queue name: </b></td>
            <td align="left" id="dialog_queue_name"></td>
          </tr>
          <tr>
            <td align="right"><b>Queue state: </b></td>
            <td align="left" id="dialog_queue_state"></td>
          </tr>
          <tr>
            <td align="right"><b>Priority: </b></td>
            <td align="left" id="dialog_queue_priority"></td>
          </tr>
        </table>

        <h3>Compute Environments</h3>

        <table id="dialog_queue_env_table" class="paddingBetweenCols">
          <tr>
            <th>Order</th>
            <th>Compute environment</th>
          </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" id="dialog_queue_close" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{# end modals #}


  <h1>AWS Batch Dashboard</h1>

<ul>
  <li><a href="#queues_heeader">Queues</a></li>
  <li><a href="#compute_environments_header">Compute Environments</a></li>
  <li><a href="#jobs_header">Jobs</a></li>
  <li><a href="#job_def_header">Job Definitions</a></li>
</ul>

<!-- default value for display is 'inline' -->
<button id="myButton" style="display: none;">pressme</button>

  <div id="message" style="z-index: 9999; position : fixed; top: 0; right: 20%; padding: 5px 0 0 5px; height: 140px; width: 300px;">
      <div id="inner-message" style="display: none;" class="alert alert-info">
      </div>
  </div>


<h2 id="queues_header">Queues</h2>

    <table id="queue_summary_table" class="display">
      <thead>
        <tr>
          <th>Name</th>
          <th>Priority</th>
          <th>SUBMITTED</th>
          <th>PENDING</th>
          <th>RUNNABLE</th>
          <th>STARTING</th>
          <th>RUNNING</th>
          <th>FAILED</th>
          <th>SUCCEEDED</th>
        </tr>
    </thead>
    <tbody>
    {% for row in queue_summary_table %}
      <tr class="queue_row">
        {% for item in row %}
          <td>
            {% if loop.index == 1 %}
              <a id="{{item}}" class="queue" href="#">
            {% elif  loop.index > 2 %}
              <a class="queue_jobs_by_status" id="{{row[0]}}_{{states[loop.index-3]}}" href="#">
            {% endif %}
            {{ item }}
            {% if loop.index == 1 %}
              </a>
            {% elif loop.index > 2 %}
              </a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
    </table>


<h2 id="compute_environments_header">Compute Environments</h2>

<table id="comp_env_table" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Minimum vCPUs</th>
      <th>Desired vCPUs</th>
      <th>Maximum vCPUs</th>
    </tr>
  </thead>
  <tbody>
    {% for row in env_table %}
      <tr class="env_row">
        {% for item in row %}
          <td>
            {% if loop.index == 1 %}
              <a id="{{item}}" class="compute_environment" href="#">
            {% endif %}
            {{ item }}
            {% if loop.index == 1 %}
              </a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>



<h2 id="jobs_header">Jobs</h2>

<table id="job_table" class="display">
  <thead>
    <tr>
      <th>Queue</th>
      <th>Job ID</th>
      <th>Job Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for row in job_table %}
      <tr class="job_row" id="row_{{row[1]}}">
        {% for item in row %}
          <td>
            {% if loop.index == 2 %}
              <a id="{{item}}" class="job_id" href="#">
            {% endif %}
            {{ item }}
            {% if loop.index == 2 %}
              </a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2 id="job_def_header">Job Definitions</h2>


<table id="job_def_table" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Revision</th>
      <th>vCPUs</th>
      <th>Memory</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    {% for row in job_def_table %}
      <tr>
        {% for item in row %}
          <td>
            {% if loop.index == 2 %}
              <a class="jobdef" id="{{row[0]}}:{{item}}" href="#">{{item}}</a>
            {% else %}
              {{item}}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>



    <div id="log" style="display: none;"></div>

<p>&nbsp;</p>

<p>
  <a target="_blank" href="https://fredhutch.github.io/aws-batch-at-hutch-docs/">[Documentation for AWS Batch at Fred Hutch]</a> |
  <a target="_blank" href="https://github.com/FredHutch/batch-dashboard">[Code/Report an Issue]</a>
</p>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- FIXME eventually remove the timestamp bit from here: -->
    <script type="text/javascript" charset="utf8" src="/js/batch-dashboard.js?timestamp={{timestamp}}"></script>



</body>
</html>
