{% extends "layout.html" %}
{% block title %}Logs for {{job_name}} attempt {{attempt}}{% endblock %}
{% block content %}

<h1>Job Logs</h1>

<p><b>Job ID:</b> {{job_id}} </p>
<p><b>Job Name:</b> {{job_name}}</p>
<p><b>Attempt:</b> {{attempt}}</p>
<p><b>Job Status:</b> {{status}}</p>

<p>
{% if start_from_head %}
{% set forward, back = next_token, prev_token %}
Showing oldest events first.

<a href="{{request.path}}?jobId={{request.args['jobId']}}&attempt={{request.args['attempt']}}&startFromHead=False">
See newest events first.
</a>

{% else %}
{% set forward, back = prev_token, next_token %}

Showing newest events first.

<a href="{{request.path}}?jobId={{request.args['jobId']}}&attempt={{request.args['attempt']}}&startFromHead=True">
See oldest events first.
</a>


{% endif %}

</p>

<p>
<a href="{{request.path}}?jobId={{request.args['jobId']}}&attempt={{request.args['attempt']}}&startFromHead={{start_from_head}}&nextToken={{back}}">
    <button>&lt; Previous</button>
</a>

&nbsp;

<a href="{{request.path}}?jobId={{request.args['jobId']}}&attempt={{request.args['attempt']}}&startFromHead={{start_from_head}}&nextToken={{forward}}">
     <button>Next &gt;</button>
</a>

</p>

<p>&nbsp;</p>


    <table border="1">
        <thead>
            <tr>
                <th>Time (UTC +00:00)</th>
                <th>Message</th>
            </tr>
        <tbody>
            {% for row in log_table_data %}
                <tr>
                    {% for item in row %}
                        <td
                        {% if loop.index == 1 %}
                         class="breakMe"
                        {% endif %}
                        >{{item}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

<p>&nbsp;</p>

<p>
<a href="{{request.path}}?jobId={{request.args['jobId']}}&attempt={{request.args['attempt']}}&startFromHead={{start_from_head}}&nextToken={{back}}">
    <button>&lt; Previous</button>
</a>

&nbsp;

<a href="{{request.path}}?jobId={{request.args['jobId']}}&attempt={{request.args['attempt']}}&startFromHead={{start_from_head}}&nextToken={{forward}}">
     <button>Next &gt;</button>
</a>

</p>



{% endblock %}
