{% extends "layout.html" %}
{% block pagejs %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.bootstrap.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/batch-dashboard-new.js?timestamp={{timestamp}}"></script>{% endblock %}


{% block content %}

<style>
header { border-bottom: 1px solid #000; }
header > h1 { display: inline-block; }
header span { margin-left: 100px; }
</style>


<ul>
  <li><a href="#compute-environments">Compute Environments</a></li>
  <li><a href="#job_def_header">Job Definitions</a></li>
</ul>

<table cellpadding="0" cellspacing="0" border="0" class="display cell-border" id="example">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


<header>
  <h1 id="compute-environments">Compute Environments</h1>
  <button id="reload-compute-environments" title="reload table">⟳
  </button>
</header>


<table cellpadding="0" cellspacing="0" border="0" class="display cell-border" id="comp_env_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Minimum vCPUs</th>
      <th>Desired vCPUs</th>
      <th>Maximum vCPUs</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>



<h2 id="job_def_header">Job Definitions</h2>
<header>
  <h1 id="job_def_header">Compute Environments</h1>
  <button id="reload-job-definitions" title="reload table">⟳
  </button>
</header>



<table id="job_def_table" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Revision</th>
      <th>vCPUs</th>
      <th>Memory</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>






{# modals #}

{# compute environment modal #}
<div id="env_dialog_displayer"></div>
<div id="env_dialog_holder">
<div class="modal fade" id="REPLACE_ME" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          {#  FIXME this does not close #}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Compute environment details</h4>
      </div>
      <div class="modal-body">
        <h3>Overview</h3>

        <table border="0" class="paddingBetweenCols">
          <tr>
            <td align="right"><b>Compute environment name:</b></td>
            <td align="left"><span data-bind='text: computeEnvironmentName'></span></td>
          </tr>
          <tr>
            <td align="right"><b>Compute environment ARN:</b></td>
            <td align="left"><span data-bind="text: computeEnvironmentArn"></span></td>
          </tr>
          <tr>
            <td align="right"><b>Type:</b></td>
            <td align="left"><span data-bind="text: type"></span></td>
          </tr>
          <tr>
            <td align="right"><b>Status:</b></td>
            <td align="left"><span data-bind="text: status"></span></td>
          </tr>
          <tr>
            <td align="right"><b>State:</b></td>
            <td align="left"><span data-bind="text: state"></span></td>
          </tr>
          <tr>
            <td align="right"><b>Service role:</b></td>
            <td align="left"><span data-bind="text: serviceRole"></span></td>
          </tr>
        </table>

        <h2>Compute Resources</h2>

        <table border="0" class="paddingBetweenCols">
          <tr>
            <td align="right"><b>Minimum vCPUs:</b></td>
            <td align="left"><span data-bind="text: computeResources.minvCpus"></span></td>
          </tr>
          <tr>
            <td align="right"><b>Desired vCPUs:</b></td>
            <td align="left"><span data-bind="text: computeResources.desiredvCpus"></span></td>
          </tr>
          <tr>
            <td align="right"><b>Maximum vCPUs:</b></td>
            <td align="left"><span data-bind="text: computeResources.maxvCpus"></span></td>
          </tr>
          <tr>
            <td align="right"><b>Instance types:</b></td>
            <td align="left">
              <span data-bind="foreach: computeResources.instanceTypes"><!-- ko if: $index() > 0 -->, <!-- /ko --><span data-bind="text:$data"></span></span>
            </td>
          </tr>
          <tr>
            <td align="right"><b>Instance role:</b></td>
            <td align="left"><span data-bind"text: computeResources.instanceRole"></span></td>
          </tr>
          <tr>
            <td align="right"><b>Spot fleet role:</b></td>
            <td align="left">
                <span data-bind="text: computeResources.spotIamFleetRole"></span>
            </td>
          </tr>
          <tr>
            <td align="right"><b>EC2 Keypair:</b></td>
            <td align="left"><span data-bind="text: computeResources.ec2KeyPair"></span></td>
          </tr>
          <tr>
            <td align="right"><b>AMI id:</b></td>
            <td align="left"><span data-bind="text: computeResources.imageId"></span></td>
          </tr>
          <tr>
            <td align="right"><b>vpcId:</b></td>
            <td align="left">{# leaving this alone for now FIXME #}</td>
          </tr>
          <tr>
            <td align="right"><b>Subnets:</b></td>
            <td align="left">
              <span data-bind="foreach: computeResources.subnets"><!-- ko if: $index() > 0 -->, <!-- /ko --><span data-bind="text:$data"></span></span>
            </td>
          </tr>
          <tr>
            <td align="right"><b>Security Groups:</b></td>
            <td align="left">
              <span data-bind="foreach: computeResources.securityGroupIds"><!-- ko if: $index() > 0 -->, <!-- /ko --><span data-bind="text:$data"></span></span>
            </td>
          </tr>

        </table>





        <h3>EC2 Tags</h3>

        <table class="paddingBetweenCols dynamicDialogTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: {data: Object.keys(computeResources.tags)}">
            <tr>
              <td data-bind="text: $data"></td>
              <td data-bind="text: $parent.computeResources.tags[$data]"></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" id="dialog_env_close" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}
